body {
    padding-top: 0px;
}

.navbar-brand {
    font-weight: bold;
}

button {
    padding-top: 7px;
    margin-top: 15px; /* Add margin-top to create space from the form fields */
}

/* Additional custom styling as needed */