{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    
  <div class="login-page simple-login">
    <div class="login-header"><h2>Login</h2></div>
    
    <form method="post" class="login-form">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label(class="form-control-label") }}
        {{ form.username(class="form-control simple-input") }}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        {{ form.password(class="form-control simple-input") }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary simple-btn") }}
      </div>
    </form>
  </div>
{% endblock %}